<!DOCTYPE html>
<html>
<head>
    <title>Movie App</title>
    <meta charset="utf-8" />

    {% load staticfiles %}
    {% load compress %}

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css"/>

    {% compress css %}
        <link rel="stylesheet" type="text/less" href="{% static 'less/styles.less' %}">
    {% endcompress %}

    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
</head>
<body>

{% include "navbar.html" %}

<div class="main-container container">
    {% block content %}
    {% endblock %}
</div>
</body>

{% block js %}
    {# Default javascript files here #}
    <script src="{{ STATIC_URL }}js/jquery-2.2.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/js.cookie-2.1.0.min.js"></script>
{% endblock js %}

</html>